body {
  padding: 0;
}

/* Custom page header */
.header {
  margin-bottom: 20px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.container {
  padding: 0;
  max-width: 100%;
  max-height: 100%;
}

.navbar {
  margin-bottom: 0;
}

.navbar-brand {
  margin-left: 15px;
}

.slideshow,
.slideshow:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -10;
}
.slideshow:after {
    content: '';
}

.carousel-caption {
    background-color: rgba(0,0,0,0.8);
    top: 50%;
    height: 100px;
    padding: 10px;
}

.carousel-caption h2 {
  font-size: 20px;
  margin-top: 10px;
}

.carousel-indicators {
  display: none;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

  .navbar-brand {
    margin-left: 0px;
  }

  .carousel-caption {
      height: 200px;
  }
  .carousel-caption h2 {
    font-size: 35px;
  }

}
