<div id="aboutpage" class="row">
  <p>This is a experiment to create a full screen AngularJS slideshow.  It uses <a href="https://angular-ui.github.io/">Angular UI</a> to handle the animation.</p>
  <p>  It was scaffolded using <a href="http://yeoman.io/codelab/scaffold-app.html">Yeoman</a>.</p>
  <p>Photos are courtesy of <a href="http://openphoto.net">http://openphoto.net</a></p>
  <p>Todo</p>
  <ul>
    <li>Hide navigation after X time, reshow on window rotate or key press</li>
    <li>Add video slides</li>
    <li>Create controller to allow user to add new slides</li>
  </ul>
</div>
